#transform{
    width: 150px;
    height: 150px;
    background: gray;
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;

}
#transform:hover {
    width: 200px; 
    height: 200px;
    padding: 50px;
}

h1{
    color: white;
    text-align: center;
    padding: 50px;
}