#transform{
    width: 500px;
    height: 300px;
    background: gray;
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;

}
#transform:hover {
    width: 500px; 
    height: 300px;
    border-radius: 200px 200px 200px 200px;
}

h1{
    color: white;
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#transform {
    text-align: center;
}